.partners {
  padding: 70px 20px;
  background: #ffffff;
}

.partners-container {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

/* TITLE */
.partners h2 {
  font-size: 28px;
  margin-bottom: 40px;
  color: #0b3c6f;
}

/* GRID */
.partners-grid {
   display: flex;
  flex-wrap: wrap;
  justify-content: center; /* 🔥 centers items */
  align-items: center;
  gap: 40px;
}

/* Mobile */
.partners-grid {
  grid-template-columns: repeat(2, 1fr);
}

/* Tablet */
@media (min-width: 768px) {
  .partners-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .partners-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* LOGO ITEM */
.partner-item {
  filter: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* IMAGE STYLE */
.partner-item img {
  width: 160px;
  max-height: 90px;
  object-fit: contain;
  filter: grayscale(0%);
  transition: 0.3s;
}

/* 🔥 HOVER EFFECT */
.partner-item img:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}